<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwConfigExceptions="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!--<variable name="layoutPattern" value="${longdate}|TID: ${threadid}|${level:uppercase=true}|${logger}|${message}|${exception}" />

  <targets>
    <target name="fileLog" xsi:type="File" fileName="${basedir}/log/log_${shortdate:cached=true}/log_${time:cached=true}.log" layout="${layoutPattern}" />
    <target name="colorConsoleLog" xsi:type="ColoredConsole" layout="${layoutPattern}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="colorConsoleLog" />
    <logger name="*" minlevel="Trace" writeTo="fileLog" />
  </rules>-->
  
</nlog>
